.pull-left {
	text-align: left;
}

.pull-right {
	text-align: right;
}

.mainbox {
	margin-top: 10%;
	margin-bottom: 20%;
}

.border-dashboard-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.checkbox-reduce {
	height: 20px;
	width: 20px;
}

.dashboard-sidebar-margin {
	margin-top: 20px;
}

.overlay-alert {
	position: absolute;
	z-index: 10;
	width: 99%;
}
#adbox {
	margin-top: 0px;
}

#header {
	z-index: 100;
}

#wrapper .margin-layout {
	margin-top: 66px;
}

#wrapper #content .margin-layout {
  	padding-top: 175px;

}

#page-wrapper {
	min-height: 800px;
}

#page-wrapper .margin-layout {
	margin-top: 80px;
}
