<div id="page-wrapper">
    <div class="container-fluid margin-layout">

        <div class="well">
            <div id="tweets-visualizer-map"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

  var initialize, map, marker, myCenter, resizeMap, resizingMap, setValueLatLng;
  // var coordsArray = <%#= raw @coords.to_json %>
  var geoPointArray = [];
  var markersArray = [];
  // var latCenter = parseFloat("<%#= escape_javascript @search.latitude %>");
  // var lngCenter = parseFloat("<%#= escape_javascript @search.longitude %>");
  // var radiusCenter = parseInt("<%#= escape_javascript @search.radius %>");
  map = void 0;

  myCenter = new google.maps.LatLng( -33.45, -70.6667);

  var index;

  // for (index = 0; index < coordsArray.length; ++index) {
  //   geoPointArray[index] = new google.maps.LatLng(coordsArray[index].lat, coordsArray[index].lng); 
  //   markersArray[index] = new google.maps.Marker({
  //       position: geoPointArray[index],
  //       draggable: false,
  //       title: "Autor: "+coordsArray[index].screen_name
  //   });
  // }

  marker = new google.maps.Marker({
    position: myCenter,
    draggable: false
  });

  initialize = function() {
    var circle, mapProp;
    mapProp = {
      center: myCenter,
      zoom: 10,
      draggable: true,
      disableDefaultUI: false,
      disableDoubleClickZoom: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('tweets-visualizer-map'), mapProp);
    // marker.setMap(map);
    for (index = 0; index < markersArray.length; ++index) {
        markersArray[index].setMap(map);
    }
    // circle = new google.maps.Circle({
    //   map: map,
    //   clickable: false,
    //   radius: radiusCenter*1000,
    //   center: myCenter,
    //   fillColor: '#55BF3B',
    //   strokeColor: '#313131',
    //   strokeOpacity: .4,
    //   strokeWeight: .8
    // });
  };

  resizeMap = function() {
    if (typeof map === 'undefined') {
      return;
    }
    setTimeout((function() {
      resizingMap();
    }), 400);
  };

  resizingMap = function() {
    var center;
    if (typeof map === 'undefined') {
      return;
    }
    center = map.getCenter();
    google.maps.event.trigger(map, 'resize');
    map.setCenter(center);
  };

  google.maps.event.addDomListenerOnce(window, 'mousemove', initialize);
  google.maps.event.addDomListener(window, 'resize', resizingMap());

</script>