
<div id="contents">
	<div id="adbox">
		<div class="wrapper clearfix">
			<div class="info">
				<h1>Twittana</h1>
				<p>
					Esta es una herramienta diseñada para acercar el análisis de la <i>Social Media</i> en <i>Twitter</i>, a distintas áreas de investigación. Si te interesa realizar análisis de contenido en <i>Twitter</i> de manera gratuita, <i>Twittana</i> es tu primera opción, dejando atrás a herramientas complicadas y privativas. Esta herramienta es de código abierto, por lo que también podrás modificar sus características si deseas realizar estudios más complejos.
				</p>
			</div>
		</div>
		<div class="highlight">
			<h2>El otro lado de <i>Twitter Analytics.</i></h2>
		</div>
	</div>
	<div class="body clearfix">
		<div class="click-here">
			<h1>Lorem Ipsum Dolor!</h1>
			<a href="index.html" class="btn2">Click Here!</a>
		</div>
		<p style="font-size:12px;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula. Praesent aliquam semper massa et scelerisque. Suspendisse dapibus interdum diam, non varius nisl laoreet at. Pellentesque imperdiet molestie sollicitudin. Sed nec magna nibh, sed interdum nisi. Mauris vel pretium nibh. Morbi congue velit quis eros imperdiet ac el eifend elit condimentum. Nulla vestibulum dictum tellus quis iaculis. Duis a diam vitae sem tristique vestibulum. Praesent dapibus, tortor nec hendrerit pulvinar, lectus tortor viverra ante,
		</p>
	</div>
</div>
	