
<div id="contents">
	<div id="adbox">
		<div class="wrapper clearfix">
			<div class="info">
				<h1>Twittana</h1>
				<p style="font-size:16px;text-align: left">
					Esta es una herramienta diseñada para acercar el análisis de la <i>Social Media</i> en <i>Twitter</i>, a distintas áreas de investigación. Si te interesa realizar análisis de contenido en <i>Twitter</i> de manera gratuita, <i>Twittana</i> es tu primera opción, dejando atrás a herramientas complicadas y privativas. Esta herramienta es de código abierto, por lo que también podrás modificar sus características si deseas realizar estudios más complejos.
				</p>
			</div>
			
			<div class="authentication-frame">
				<%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary glyphicon glyphicon-plus"  %> 
				<%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary glyphicon glyphicon-chevron-left"  %>
			</div>
		</div>
		<div class="highlight">
			<h2>El otro lado de <i>Twitter Analytics.</i></h2>
		</div>
	</div>
	<div class="body clearfix">
		<div class="click-here1">
			<h1>Herramienta de búsqueda y recopilación</h1>
			<!-- <a href="index.html" class="btn2">Click Here!</a> -->
		</div>
		<p style="font-size:14px;">
			Busca y almacena datos de <i>Twitter</i> según tu interés. Con <i>Twittana</i> podrás buscar contenido en <i>Twitter</i> tanto de temas de discusión, como de relacionamiento entre usuarios.
		</p>
	</div>
	<hr>
	<div class="body clearfix">
		<div class="click-here2">
			<h1>Herramienta de visualización</h1>
			<!-- <a href="index.html" class="btn2">Click Here!</a> -->
		</div>
		<p style="font-size:14px;text-align: right;">
			Genera un análisis geo-temporal de manera visual de tus datos extraidos de <i>Twitter</i>.</br>
			Con esta herramienta, podrás analizar tus datos extraidos de manera visual, según su geo-posicionamiento y según el momento en que se efectuó el contenido analizado.</br>   
			Esta herramienta, es independiente a la herramienta de búsqueda y recopilación, por lo que también podrás conectar tu propia plataforma de recopilación de datos a esta herramienta de visualización.
		</p>
	</div>
</div>
	