<div id="page-wrapper">
    <div class="container-fluid margin-layout">
	    <div class="row">
			<%= render "date_slider" %>
	    </div>

    	<div class="row">
    		<div id="map-visualizer-container" class="well">
            	<div id="tweets-visualizer-map"></div>
        	</div>
    	</div>

    </div>
</div>

<%= render "set_map", :locals => { :tweets => @tweets }  %>