<% if @search.search_type == "keywords" %>
	<% @search.tweets.each do |db_tweet| %>
		<% binding.pry %>
		$('#log-div').prepend("<li class='list-group-item'><%= db_tweet.twitters_tweet[:text].to_s %></li>");
	<% end %>
<% elsif @search.search_type == "tusers" %>
	<% @search.twitter_users.each do |db_tuser| %>
		$('#log-div').prepend("<li class='list-group-item'><%= db_tuser.twitters_user[:name].to_s %></li>");
	<% end %>
<% end %>

$target = document.getElementById('search-spinner');
while ($target.hasChildNodes()) {
    $target.removeChild($target.lastChild);
}

$('#search-btn').prop('disabled', false);
$('#search-btn').prop('value', "Buscar");