// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#stop_period {
	width: 95px;
}
#stop_data {
	width: 160px;
}
#map {
	width: 400px; 
	height: 400px;
}
#show-search-map {
	width: 300px; 
	height: 300px;
}
#show-tweet-map {
	width: 350px; 
	height: 350px;
}
#radiusSlider .slider-selection {
	background: #BABABA;
}
.slider-box {
	margin-top: 7px;
}
#search-spinner{
	margin-top: 50px;
}